@import '../../marketplace.css';

.mainWrapper {
/*  width: calc(100% - 48px);*/
  max-width: 1440px;
  margin: auto;

/*  @media (--viewportMedium) {
    max-width: 650px;
    width: calc(100% - 72px);
    margin: 72px auto 36px auto;
  }*/

}

.title {
  @apply --marketplaceH1FontStyles;
  margin-bottom: 62px;
  text-align: center;
}
.containerfaq{
max-width: 100%;
}

.faqimage{
max-width: 100%;
}

.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 36px;

  @media (--viewportMedium) {
    margin-top: 52px;
  }
}

.accordion__item {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin: 30px;
}

.faqcontainer .coverImage {
    width: 100%;
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
margin-top:10px;
}

.accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 70%;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 800;
    border-top: 2px solid #1d3e50;
    border-bottom: 2px solid #1d3e50;
    margin-top: -22px;
}

.accordion__button {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 0px 50px;
    width: 100%;
    text-align: left;
    border: none;
    font-family: 'canada-type-gibson', Helvetica, Arial, sans-serif;
    font-weight:    ;

}

.accordion__button:hover {
    background-color: #ddd;
}
.accordion__button:focus{
    background-color:#FFF;
    outline:none;
    border:none;
    box-shadow:none;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    float: right;
    margin-top: 20px;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(-135deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p.faqitembutton {
    font-size: 45px;
}

.coverImage {
    width: 50%;
}

p.faqstext {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
    margin: 0 50px 15px;
    font-family: 'canada-type-gibson', Helvetica, Arial, sans-serif;
}

