@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --SectionHero_desktopTitleMaxWidth: 100%;

  --SectionHero_animation: {
    animation-name: animationTitle;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;

    visibility: hidden;
    opacity: 1;
    position: relative;
  }
}

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

.root {
  @apply --backgroundImage;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
}

.heroContent {
  margin: 0 24px 0 24px;
max-width: 90%;
margin:auto;
z-index: 2;
  @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
    max-width: 60%;
    margin:auto;
  }


  /* Special viewport for adjusting the heroContent's placement */

  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
    max-width: 60%;

  }

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
/*    max-width: calc(1052px + 36px + 36px);*/
    max-width: 40%;
    width: 100%;
    padding: 0 50px 0 50px;
  }
}

.heroMainTitle1 {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
  text-align:center;
      font-size: 36px;
    line-height: 56px;
    letter-spacing: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.heroMainTitle2 {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
  text-align:center;
      font-size: 36px;
    line-height: 56px;
    letter-spacing: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.heroMainTitle3 {
  @apply --marketplaceHeroTitleFontStyles;
  color: var(--matterColorLight);

  @apply --SectionHero_animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
  text-align:center;
      font-size: 36px;
    line-height: 56px;
    letter-spacing: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

/*Hero lines over text*/

.linetitle {
    position: absolute!important;
    width: 100%;
  animation: 1400ms ease-in-out 0ms forwards;
}


.heroSubTitle {
  @apply --marketplaceBodyFontStyles;

  color: var(--matterColorLight);
  margin: 0 0 32px 0;

  @apply --SectionHero_animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 32px 0 32px 0;
  }
  text-align:center;
}

.heroButton {
  @apply --marketplaceButtonStyles;
  @apply --SectionHero_animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 260px;
  }
  margin: auto;
}


.vimeowrapper {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   pointer-events: none;
   overflow: hidden;
}
.vimeowrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 50vh;
   min-width: 120vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 38%;
   left: 50%;
   transform: translate(-50%, -50%);
}


  @media (max-width: 650px) {

.vimeowrapper {
    display: none;
}

.vimeowrapper iframe {
  display: none;
  }

.heroMainTitle1 {
  font-size: 26px;
}

.heroMainTitle2 {
  font-size: 26px;
}

.heroMainTitle3 {
  font-size: 26px;
}

svg#lineanimate {
    width: 250px!important;
}

}

/*Head On Media*/

.heroButton {
    border: white 1px solid;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}


