@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  font-size: 36px;
color: black;
letter-spacing: 2px;
line-height: 40px;
text-align: center;
}

.introText {
  text-align: center;
  font-weight: 300;
  text-align: center;
  font-weight: 300;
  max-width: 60%;
  margin: 20px auto;
}

.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 50%;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 48px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 36px;

  @media (--viewportMedium) {
    margin-top: 52px;
  }
  border: 1px solid;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 3px;
}

.step img{
      max-width: 75%;
}

img.imageCamp {
    margin: 52px 10px;
}

img.imageHost {
    padding: 30px;
}


.stepText{
font-weight: 300;  
}
