@import '../../marketplace.css';

.pageSlideContainter{
}

.pageTitle {
  text-align: center;
  color: white;
  max-width: 100%;
  font-size:32px;
  letter-spacing: 2px;
  font-weight: 600;
}

p.titleText{
  text-align: center;
  color: white;
  max-width: 30%;
  margin: auto;
}

.staticPageWrapper {
/*  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }*/
}

.coverImage {
    width: 100%;
    height: 100vh;
    border-radius: 4px;
    object-fit: cover;
    margin: 32px 0 40px;
    z-index: -1000;
    top: 0;
    right: 50px;
    margin-top: -35vh;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;
  margin: auto;

  @media (--viewportMedium) {
    max-width: 1180px;
    margin: auto;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}

.titleQuote{
  font-size:35px;
  line-height: 55px;
  text-align: center;
  max-width: 70%;
  margin: 60px auto;
  color: black;
} 

.nameQuote{
  font-size:22px;
  text-align: center;
  margin: auto;
} 




.accordion__item {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin: 30px;
}

.faqcontainer .coverImage {
    width: 100%;
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
margin-top:10px;
}

.accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 70%;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    border-top: 2px solid #1d3e50;
    border-bottom: 2px solid #1d3e50;
    margin-top: -22px;
}

.accordion__button {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 0px 50px;
    width: 100%;
    text-align: left;
    border: none;
    font-family: 'canada-type-gibson', Helvetica, Arial, sans-serif;
    font-weight:    ;

}

.accordion__button:hover {
    background-color: #ddd;
}
.accordion__button:focus{
    background-color:#FFF;
    outline:none;
    border:none;
    box-shadow:none;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
    float: right;
    margin-top: 20px;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(-135deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p.faqitembutton {
    font-size: 45px;
}

p.faqstext {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
    margin: 0 50px 15px;
    font-family: 'canada-type-gibson', Helvetica, Arial, sans-serif;
}

.bodyImage{
  width: 100%;
}

.title {
    text-align: center;
    padding: 20px;
}
